<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />

    {% comment %} custom css {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>Sabbir's Blog</title>
</head>

<body>
    <!-- Page wrapper with navbar, sidebar, navbar fixed bottom, and sticky alerts (toasts) -->
    <div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="overlayed-sm-and-down">
        <!-- Sticky alerts (toasts), empty container -->
        <div class="sticky-alerts">

        </div>
        <!-- Navbar -->
        {% include 'navbar.html' %}
        <!-- Sidebar overlay -->
        <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
        <!-- Sidebar -->
        <div class="sidebar">
            {% include 'sidebar.html' %}
        </div>
        
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- Column with the main content -->
                    <div class="col-lg-9">
                        <div class="content">
                            <h1 class="content-title font-size-22">
                                <!-- font-size-22 = font-size: 2.2rem (22px) -->
                                Page title
                            </h1>
                        </div>
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <!-- Column with the side content -->
                    <div class="col-lg-3 d-none d-lg-block">
                        <!-- d-none = display: none, d-lg-block = display: block only on large screens and up (> 992px) -->
                        <div class="content">
                            <h2 class="content-title font-size-16">On this page</h2>

                            <!-- font-size-16 = font-size: 1.6rem (16px) -->
                            <button class="btn" type="button" onclick="toastAlert()">Toast alert!</button>
                        </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>

        <!-- Navbar fixed bottom -->
        {% comment %} 
        <nav class="navbar navbar-fixed-bottom">
            ...
        </nav> 
        {% endcomment %}

    <!-- Requires halfmoon.js for toggling sidebar, and toasts -->
    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src={% static 'js/app.js' %}></script>

</body>

</html>