{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}

        <div class="card">
            <h2 class="card-title">
                {{ post.title }}
            </h2>
            <p>
                {{ post.body |truncatechars:255 }}
            </p>
            <div class="text-right"> <!-- text-right = text-align: right -->
                <a href="{% url 'post_detail' post.pk %}" class="btn">Read more</a>
            </div>
        </div>

    {% endfor %}
{% endblock content %}